body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.dialog-wrap
	border: 1px solid #ccc
	border-radius: 5px
	width:270px
	padding:5px
	display:block
.disabled
	opacity:0.5
.socket-status
	position:absolute
	right:0
.green
	color:green
.red
	color:red
